/* Add here all your CSS customizations */

.tentang-kami {

}

.tentang-kami li{
    list-style: none;
}

.tentang-kami a {
	color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 5px 0;
    margin-left: -37px;
    font-size: 14px;
}

.footer-underline {
	border-bottom: 1px solid rgba(137, 137, 137, 0.3);
    color: #fff;
    margin: 0 0 20px;
    padding-bottom: 20px;
}


#footer .footer-copyright {
	margin-top: 5px; 
}